[flake8]
select =
    E
    W
    F
# W503 and E203 are ignored so Flake8 agrees with black's formatting.
# (flake8 >= 6 no longer allows inline comments in option values.)
ignore =
    W503
    W504
    E203
    E741
    E501
exclude =
    tests
    .venv
    build
    dist
