dbt-tests-adapter==1.18.*
black==24.2.0
bumpversion
flake8
flaky
freezegun==1.4.0
ipdb
mypy==1.8.0
pip-tools
pre-commit
pytest
pytest-dotenv
pytest-logbook
pytest-csv
pytest-xdist
pytz
tox>=3.13
twine
wheel
